{% extends 'GhGuestbookBundle::layout.html.twig' %}
{% block header %}
    <div class="navbar navbar-default navbar-fixed-top">
        {{ parent() }}
        <div class="container">
            <div class="text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
            {{ form_start(createMessageForm, {attr: {class: 'create-message-form'}}) }}
                <div class="form-group">
                    <div class="col-sm-4">
                        {{ form_widget(createMessageForm.name) }}
                        {{ form_errors(createMessageForm.name) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_widget(createMessageForm.email) }}
                        {{ form_errors(createMessageForm.email) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(createMessageForm.submit) }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            <div class="col-sm-8">
                {{ form_row(createMessageForm.message) }}
            </div>
            {{ form_end(createMessageForm) }}
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="wrap">
        <div class="container">
            <table class="table">
                <tbody>
                {{ include('GhGuestbookBundle:Message:list-partial.html.twig', { 'pagination': pagination }) }}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}