<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Guest Book{% endblock %}</title>
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    {% stylesheets '@GhGuestbookBundle/Resources/public/css/*' filter='cssrewrite,?yui_css' output='css/compiled/ghguestbook.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
{% endblock %}
</head>

<body>
{% block body_start %}
{% endblock %}
{% block header %}
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        Test
    </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block before_body_end %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('/js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('/js/bootstrap.js') }}"></script>
    {% javascripts '@GhBlogBundle/Resources/public/js/*' output='js/compiled/ghblog.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>